/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #772B39, #a63d50);
  font-family: 'Dancing Script', cursive;
}

/* MAIN CONTAINER (Vertical layout) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* IMAGE + LETTER ROW */
.box {
  display: flex;
  align-items: left;
  gap: 80px;
}

/* HEARTBEAT */
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* IMAGE */
.heart-image {
  width: 330px;
  height: 390px;
  object-fit: cover;
  border-radius: 15px;
  border: 6px solid white;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

/* LETTER */
.letter {
  font-family: Modern Love Caps (italic);
  width: 450px;
  color: white;
  text-align: center;
  font-size: 23px;
  line-height: 1.5;
}

.letter strong {
  font-size: 30px;
  display: block;
  margin-bottom: 15px;
}

/* below text */
.valentine-text {
  font-family: "Lucida Calligraphy", "Brush Script MT", cursive;
  font-style: italic;
  font-size: 62px;
  color: #ffd6e8;
  text-align: center;
  letter-spacing: 2px;

  animation: floatText 4s ease-in-out infinite;
    animation: heartbeat 4s infinite;

}


/* GLOW */
@keyframes glowText {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #ff4da6;
  }
  to {
    text-shadow: 0 0 20px #fff,
                 0 0 40px #ff1a75;
  }
}

/* FLOAT */
@keyframes floatText {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .box {
    flex-direction: column;
    gap: 30px;
  }

  .heart-image {
    width: 260px;
    height: 320px;
  }

  .letter {
    width: 90%;
    font-size: 20px;
  }

  .valentine-text {
    font-size: 26px;
  }
}
